.navbar {
    display: flex;
    width: 100vw;
    height: 4.5rem;
    background-color: rgb(48, 20, 46);
    border-radius: 0rem 0rem 2rem 2rem;
    transition: 0.1s;
}

.navbar:hover {
    height: 4.9rem;
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.414);
    border-bottom: 2px solid rgb(176, 40, 167);;
}